<!DOCTYPE HTML>

<html>
	<head>
		<title>MoneyPool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">

						<!-- Header -->
							<header id="header">
								<div class="inner">

									<!-- Logo -->
										<h1><a href="/" id="logo">MoneyPool</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
												<!-- <li>
													<a href="index.html">Home</a>
													 <ul>
														<li><a href="#">Features</a></li>
														<li><a href="#">Invest</a></li>
														<li>
															<a href="#">Community</a> -->
															<!-- <ul>
																<li><a href="#">Lorem ipsum dolor</a></li>
																<li><a href="#">Phasellus consequat</a></li>
																<li><a href="#">Magna phasellus</a></li>
																<li><a href="#">Etiam dolore nisl</a></li>
															</ul> -->
														<!-- </li>
														<li><a href="#">Support</a></li>
													</ul> 
												</li> -->
												<li><a href="/login">Log In</a></li>
												<li><a href="/signup">Sign Up</a></li>
											</ul>
										</nav>

								</div>
							</header>

						<!-- Banner -->
							<div id="banner">
								<h2>Empowering People Through Group Economics</h2>
								<p> MoneyPool makes investing with family and friends fun, easy and safe.</p>
								<a href="/signup" class="button large icon solid fa-check-circle">Join Today</a>
							</div>

					</div>
				</div>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>Group up with like minded people to invest in your future together.</h2>
												<!-- <p>And this is where we talk about why we’re <strong>pretty awesome</strong> ...</p> -->
											</header>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<span class="image featured"><img src="images/piggy.png" alt="" /></span>
												<header class="second icon solid fa-user">
													<h3>Save</h3>
													<!-- <p>And a subtitle</p> -->
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<span class="image featured"><img src="images/exchange.jpeg" alt="" /></span>
												<header class="second icon solid fa-cog">
													<h3>Transfer</h3>
													<!-- <p>And another subtitle</p> -->
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<span class="image featured"><img src="images/invest.jpeg" alt="" /></span>
												<header class="second icon solid fa-chart-bar">
													<h3>Invest</h3>
													<!-- <p>And yes, a subtitle</p> -->
												</header>
											</section>
										</div>
										<!-- <div class="col-12">
											<p>With rising cost and an increasing wage gap. Group up with like minded people to invest in your future together. MoneyPool makes investing with family and friends fun, easy and safe. Sign Up now!</p>
										</div> -->
									</div>
								</section>

						</div>
					</div>
					
					<footer>
						<ul>
							<li><a href="#">Start-Ups</a></li>
							<li><a href="/"><img src="images/cover.png" alt="logo" style="height:100px"></a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</footer>

	</body>
</html>
