<!doctype html>
<html>
<head>
    <title>MoneyPool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> MoneyPool</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <main class="profile-main">
   <aside class="left-sidebar">
    <ul class="sideItems">
      <a href=""><li>My Account</li></a>
      <a href="/deposit"><li>Deposit</li></a>
      <a href=""><li>Transfer</li></a>
      <a href="/invest"><li>Invest</li></a>
      <a href=""><li>QR Code</li></a>
      <a href=""><li>Send/Request Money</li></a>
      <a href="/settings"><li>Settings</li></a>
    </ul>
   </aside>
   <aside class="right-sidebar">

   </aside>
  </main>

  <h3>Light and Dark Mode</h3>
  <button onclick="myFunction()">Switch mode</button>

  <section><h1>Banner Ad to Make Money</h1></section>

  <script src="main.js"></script>

</body>
</html>
