<!doctype html>
<html>

<head>
  <title>MoneyPool</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

  <link rel="stylesheet" href="checkout.css">
</head>

<body>
  <div class="main">
    <div class="container">
      <div class="signup-content">

        <div class="signup-img">
          <!-- <img src="images/eyl.jpeg" alt=""> -->
          <div class="signup-img-content">
            <h2>Sign Up now </h2>
            <p>Invest in your future!</p>
          </div>
        </div>


        <% if (message.length> 0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
          <% } %>



            <div class="signup-form">
              <form class="register-form" action="/signup" method="post" id="register-form">
                <div class="form-row">
                  <div class="form-group">
                    <div class="form-input">
                      <label for="first_name">First Name</label>
                      <input required class="form-control" type="text" name="firstName" placeholder="First Name"
                        id="first_name">
                    </div>
                    <div class="form-input">
                      <label>Last Name</label>
                      <input required class="form-control" type="text" name="lastName" placeholder="Last Name"
                        id="last_name">
                    </div>
                    <div class="form-input">
                      <label>Birthday</label>
                      <input required type="date" class="form-control" name="birthday" placeholder="Date" id="company">
                    </div>
                    <div class="form-input">
                      <label>Phone Number</label>
                      <input required type="number" class="form-control" name="phoneNumber" placeholder="Phone Number"
                        id="phone_number">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-select">
                      <div class="label-flex">
                        <label for="Gender">Gender</label>
                      </div>
                      <select name="gender" class="list-items" id="gender" required>
                        <option value="">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Non-Binary">Non-Binary</option>
                        <option value="Two-Spirit">Two-Spirit</option>
                        <option value="Other">Other</option>
                        <option value="Prefer Not To Disclose">Prefer Not To Disclose</option>
                      </select>
                    </div>
                    <div class="form-radio">
                      <div class="label-flex">
                        <label for="payment">Investment Style</label>

                      </div>
                      <div class="form-radio-group">
                        <div class="form-radio-item">
                          <input value="growth" type="radio" name="investment" id="cash" checked>
                          <label for="cash">Growth</label>
                          <span class="check"></span>
                        </div>
                        <div class="form-radio-item">
                          <input value="blend" type="radio" name="investment" id="cheque">
                          <label for="cheque">Blend</label>
                          <span class="check"></span>
                        </div>
                        <div class="form-radio-item">
                          <input value="value" type="radio" name="investment" id="demand">
                          <label for="demand">Value</label>
                          <span class="check"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-input">
                      <label>Email</label>
                      <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                    </div>
                    <div class="form-input">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                  </div>
                </div>
                <div class="form-submit">
                  <input type="submit" value="Sign Up" class="submit" id="submit" name="submit" />
                  <input type="reset" value="Reset" class="submit" id="reset" name="reset" />
                </div>
              </form>



              <p class="toLogin">Already have an account? <a href="/login">Login</a></p>
              <p class="toLogin">Or go <a href="/">home</a></p>
            </div>
      </div>
    </div>
  </div>

</body>

</html>